
*{
  padding: 0%;
  margin: 0%;
}
.home {
  padding: 30px;
  width: 100%;
  font-family: 'League Spartan', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #f4f4f4;
  align-items: center;
  
}

#wlc {
  position: relative;
  background-image: url('/src/Assets/banger.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* font-family: fantasy; */
  /* border: 4px solid white; */
  

}



#wlc .content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: rgb(255, 255, 255);
   
}

#wlc img {
  width: 300px;
  margin: 40px 10px;
  padding: 20px;
  border-radius: 10px;
  border: 8px solid #000;
  background-color: #ffffff90;
  animation-name: rotate;
  animation-timing-function: linear;
  animation-duration: 1.5s;
  animation-iteration-count: 1 ;
  transition: transform 1.3s ease, background-color 0.3s ease, rotate 0.4s;
}

#wlc img:hover {
  background-color: #f4f4f4;
  transform: scale(4.05); 
  /* rotate: -360deg; */
}

@keyframes  rotate {
  from{
     background-color: #f4f4f4;
  transform: scale(4.6);  ;
  } 
  to {
     /* background-color: #f4f4f4;
  transform: scale(1.05); 
  rotate: -360deg; */
   background-color: transparent;

  }
}


#wlc p {
  font-size: 2.2rem;
 
   margin: 20px 0px;

  color: #fff;
}
#wlc h1{
  font-size: 3rem;
  margin-right: 100px;
   color: #fff;
}


#cont1{
  
 position: relative;
  margin-top: 50px;
   width: 100%;
  height: 100vh; 
  overflow: hidden;
}

.bg-video{
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#node2{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
 color: #fff;
 position: relative;
 left: 600px;
 top: 300px;
}
#node2 div{
  width: 60%;
  height: 300px;
}
#node2 h1{
  font-size: 2.4rem;
  font-family: fantasy;
  font-weight: 500;
  width: 220px;
  
  z-index: 1;
  
}
#node2 p{
  font-weight: 400;
}
#node2 h6{
  font-size: 1.5rem;
}
#node2 button {
  padding: 7px 25px;
  font-size: 1rem;

  font-weight: 900;
 margin-top: 10px;
  border: none;
  background-color: #0e0801;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#node2 button:hover {
  background-color: #f4f4f4;
  color: #a10c0c;
  
}

.cta-button {
  position: relative;
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  left: 600px;
  top: 60px;
}

.cta-button:hover {
  background-color: #000;
  color: #fff;
} 


.hero {
  
 
  height: 700px;
  width: 100%;
  color: #000;
 
  border-radius: 10px;
  margin-top: 50px;
 
  background-image: url('/src/Assets/pngblack.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
   /* animation-name: frames;
  animation-timing-function: linear;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
   animation: frames 25s forwards; */

 
}
#child1{
  margin-top: 200px;  
  width: 30%;
  position: relative;
  display: inline-block;
   top: -150px;
  z-index: 1;
  text-align: center;
   animation-name: frames;
  animation-timing-function: linear;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
   animation: frames 25s forwards;

 
}
#child1 h1 {
  position: relative;
  z-index: 1;
  font-size: 3rem;
  font-family: fantasy;
  margin-bottom: 0px;
   font-weight: 600;
}




.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.hero button {
  padding: 18px 25px;
  font-size: 1rem;
  
  font-weight: 900;
  /* left: 60px; */
  /* bottom: 0px; */

  border: none;
  background-color: #0e0801;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: scale 0.3s ease;
}

.hero button:hover {
  /* background-color: #f4f4f4; */
  /* color: red; */
  scale: 1.2;
  
}

@keyframes  frames {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#brands{
  height: auto;
  width: 100%;
  margin-top: 50px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #000;
  overflow: hidden;
  
 }
#brands img{
width: 120px;
height: 60px;
padding: 10px;
}

#brands1{
  display: inline-block;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
}
#scroll1{
 display: inline-block;
 white-space: nowrap;
 animation-name: hanji;
 animation-duration: 12s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
}
#scroll1 div{
display: inline-block;
}
@keyframes hanji {
  from{
    transform: translatex(0);
  }
  to{
    transform: translateX(-100%);
  }
}

#yellow{

  margin-top: 40px;
  width: 100%;
  height: 730px;
  align-items: center;
  overflow: hidden;
   border: 3px solid #fff;
   position: relative;
}
#yellow h1{

  text-align: center;
  font-size: 50px;
 margin: 20px 10px;
  /* background-color: #faf9f9; */
}
#node1 img{
  width: 240px;
   /* object-fit: cover; */
  /* border-radius: 50%; */
}

#one{
  margin-top: 30px;
}
#one h1{
  font-size: 2.0rem;
  /* text-transform: uppercase; */
}
#fav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 margin-top: 10px;
  height: auto;
  /* background-color: red; */
}
#fav div{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
#fav h6{
  font-size: 1.5rem;
  padding: 10px 20px;
}
#fav p{
  color: red;
}

#s1 img{
  width:400px;
  height: 300px;
}
#s2 img{
  width:400px;
  height: 300px;
}

.cta {
  text-align: center;
  margin-top: 10px;
  font-size: 1.1rem;
  height: 20px;
  overflow: hidden;
}

.cta a {
  color: #007acc;
  text-decoration: none;
  font-weight: 600;
}

.cta a:hover {
  text-decoration: underline;
}
#form {
  background-color: #F4F6F5;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 40px 20px;
  text-align: center;
  margin: 80px auto;
  height: auto;
  /* max-width: 900px; */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#form h1 {
  font-size: 2rem;
  color: #000;
  margin-bottom: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

#form p {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 30px;
  font-weight: 400;
}

.form-input {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.form-input input {
  padding: 14px 20px;
  font-size: 1rem;
  min-width: 280px;
  border-radius: 10px;
  border: 2px solid #000;
  outline: none;
  transition: all 0.3s ease;
}

.form-input input:focus {
  border-color: #4caf50;
}

.form-input button {
  padding: 14px 28px;
  font-size: 1rem;
  font-weight: 700;
  background-color: #0e0801;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.form-input button:hover {
  background-color: #f4f4f4;
  color: #000;
}

#footer{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;
  width: 100%;
}
#own{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
}
#own p{
  color: #000;
  margin: 10px 0px;
}
#logo{
   width: 200px;
    height: auto;
    margin: 20px 20px;
}
#img-flex img{ 
  width: 30px;
  display: inline-block;
  margin: 7px 10px;
}
#other{
  display: flex;
  align-items: first baseline;
  justify-content: center;
  gap: 100px;
}
#other h1{
  font-size: 18px;
  color: black;
}
#other h4{
  font-size: 12px;
  color: black;
  margin: 10px 0px;
}

@media (max-width: 768px) {
      #wlc {
    padding: 10px;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  #wlc img {
    width: 60%;
    border: 2px solid black;
    cursor: pointer;
    transition: transform ease 2s , background-color ease 2s;
  }
   #wlc img:hover{
    transform: rotate(360deg);
    background-color: #fff;
   }
  
  #wlc h1 {
    font-size: 2rem;
    text-align: center;
  }

  #wlc p {
    font-size: 1.2rem;
  }
  #cont1{
    width: 100vw;
    position: relative;
  }
  .bg-video{
    width: 100%;
  }
  #node2{
    color: red;
    position: absolute;
    left: 19px;
  }
  
.hero {
  
 width: 100vw;
  height: auto;
  color: #ffffff;

 
  background-image: url('/src/Assets/pexels-pavel-danilyuk-6461325.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
   animation-name: frames;
  animation-timing-function: linear;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
   animation: frames 25s forwards;

 
}
#child1{
  margin-top: 200px;  
  width: 70%;
  position: relative;
  display: inline-block;

  z-index: 1;
  text-align: center;
 
}
#child1 h1 {
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
  font-family: fantasy;
  margin-bottom: 0px;
   font-weight: 400;
}




.hero p {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.hero button {
  padding: 18px 25px;
  font-size: 1rem;
  
  font-weight: 900;
  left: 70px;
  bottom: 0px;

  border: none;
  background-color: #0e0801;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero button:hover {
  background-color: #f4f4f4;
  color: #000;
  
}

@keyframes  frames {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


 




#brands {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 10px;
  gap: 15px;
}
#brands1{
  width: 100%;
}
#brands img {
  width: 80px;
  height: auto;
}
  #yellow {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  #node1, #node2 {
    width: 100%;
    text-align: center;
  }

  #node1 img {
    width: 200px;
    height: auto;
    margin: 0 auto;
  }

  #node2 div {
    width: 90%;
    height: auto;
    margin-top: 20px;
  }

  #node2 h1 {
    font-size: 1.8rem;
    width: 100%;
  }

  #fav {
    flex-direction: column;
    height: 500px;
    overflow: hidden;
   
  }
  #fav img{
    width: 200px;
  }

  #fav div {
    width: 70%;
    /* height: 200px; */
    margin-bottom: 20px;
  }

  #s1 img,
  #s2 img {
    width: 70%;
    height: auto;
  }

  .form-input {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  #form {
    padding: 20px;
  }

  #footer {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  #logo {
    width: 150px;
  }

  #own {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  #other {
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    gap: 50px;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .home {
    padding: 15px;
    height: auto;
    overflow-x: hidden;
  }

  #child1 h1 {
    font-size: 1.5rem;
  }

  .hero p {
    font-size: 0.9rem;
  }

 

  #wlc h1 {
    font-size: 1.5rem;
  }

  #wlc p {
    font-size: 1rem;
  }

  #brands img {
    width: 60px;
  }

  #arr h1 {
    font-size: 1.5rem;
    left: 10px;
  }
 .product-preview{
  display: none;

 }

  #node2 h1 {
    font-size: 1.5rem;
  }

  #node2 h6 {
    font-size: 1rem;
  }

  #fav h6 {
    font-size: 1.2rem;
    padding: 5px 10px;
  }
   #form{

    width: 300px;
    padding-right: 10px;
    height: auto;
    /* overflow-x: hidden; */

   }
  #form h1 {
    font-size: 1.5rem;
  }

  #form p {
    font-size: 1rem;
  }
  .form-input{
    width: 80%;
  }
 #jj{
  width: 100%;
 }


  #footer {
    width: 100vw;
    padding: 10px;
  }

  #other h1 {
    font-size: 0.5rem;
  }

  #other h4 {
    font-size: 0.4rem;
  }

  #other{
   display: flex;
   flex-direction: row;
    /* width: 10%; */
  }
}
